<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificacion</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/CSS/k1Fury.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <div class="headerTop">
                <img src="ImgsLogo/LogoFuryK1.png">
            </div>

            <div class="headerTitle">
                <h4>CLASIFICACIÓN</h4>
            </div>
        </header>
        <main>
            <div class="main">
                <a href="clasif72kg.html"><button class="boton_clasificac">72 KG</button></a>
                <a href="clasif72kg.html"><button class="boton_clasificac">76 KG</button></a>
                <a href="clasif72kg.html"><button class="boton_clasificac">80 KG</button></a>
            </div>
        </main>
        <footer>
            <div class="footer">
                <a href="menu.html"><i class="fa-solid fa-house"></i></a>
                <a href="menu.html"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
        </footer>
    </div>
</body>
</html>