<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/CSS/k1Fury.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <div class="headerTop">
                <img src="ImgsLogo/LogoFuryK1.png">
            </div>

            <div class="headerTitle">
                <h4>MENÚ</h4>
            </div>
        </header>

        <main class="mainMenu">
            <div>
            <button class="button"><a href="gestion-liga.html">Gestión Liga</a></button>
            <button class="button"><a href="gestion-usuarios.html">Gestión Usuarios</a></button>
            <button class="button"><a href="combates.html">Combates</a></button>
            <button class="button"><a href="clasificacion.html">Clasificación</a></button>
            </div>
        </main>
        
        <footer>
            <div class="footer">
                <a href="menu.html"><i class="fa-solid fa-house"></i></a>
                <a href="../adm/index.ftl"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
        </footer>
        
    </div>
    

</body>
</html>