/*AJUESTES GENERALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #0f0f14;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*HEADER*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 30px;
}

.headerTop{
    width: 100%;
    height: 120px; 
    display: flex;
    justify-content: center;
    background-color: #0f0f14;
    padding: 18px 0 12px 0;
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid #ff2a2a;
}

.headerTop img{
    max-width: 180px;  
    height: auto;
}

.headerTitle{
    width: 100%;
    background-color: #0f0f14;
    text-align: center;
    padding: 8px 0;
    border-bottom: 2px solid #ff2a2a;
}

.headerTitle h4{
    font-size: 14px;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-weight: bold;
}

/*FOOTER*/
footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-top: 2px solid #ff2a2a;
}

.footer a {
    color: #ff2a2a;
    font-size: 26px;
    text-decoration: none;
}

/*LOGIN*/
.main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-form{
    width: 100%;
        max-width: 300px;
        margin: 20px auto;
        padding: 30px 20px;
        border: 2px solid #ff2a2a;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
}


#nombre {
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}

#pwd{
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}

/*BOTONES*/
.btn{
    margin-top: 15px;
    height: 40px;
    background-color: #291818;
    color: #ff2a2a;
    border: 2px solid #ff2a2a;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

.btn_result_anotar{
    margin-bottom: 30px;
    padding: 0px 10px;
    height: 35px;
    background-color: #291818;
    color: white;
    background-color: #ff2a2a;
    border: 2px solid #ff2a2a;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

.boton_clasificac{
    margin-bottom: 30px;
    height: 40px;
    background-color: #291818;
    color: #ff2a2a;
    border: 2px solid #ff2a2a;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

.btn:hover{
    background-color: #ff2a2a;
    color: white;
}

.btn_result_anotar:hover{
    background-color: #ff2a2a;
    color: white;
}

.boton_clasificac{
    background-color: #ff2a2a;
    color: white;
}

.mainMenu a.button {
    width: 280px;
    height: 75px;
    background-color: #c40000;
    color: white; 
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    
    
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    border: 2px solid #ff2a2a;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3), 0 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}

.mainMenu a.button:hover {
    background-color: #e60000;
    border-color: #ffffff;
    box-shadow: 0 0 20px #FF2A2A; /* Brillo neón suave */
}

/*MENÚ*/
.mainMenu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mainMenu div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}


/*LISTA*/
.mainList{
    flex: 1;                    
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;
    gap: 22px;
}

.mainList div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*LABELS*/
.selectorEliminar{
    width: 220px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #ff2a2a;
    background-color: #291818;
    color: white;
    padding: 5px;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}

/*SELECTORES*/
.selector{
    width: 100%;
        height: 55px;
        margin-top: 20px;
        border-radius: 10px;
        border: 2px solid #ff2a2a;
        background-color: #291818;
        color: white;
        padding: 0 10px;
        font-size: 22px;
        box-sizing: border-box;

}

.selector option{
    background-color: #303030;
    color: white;
}

/*FORMULARIOS*/
form{
    display: flex;
    flex-direction: column;
}

form h1{
    color: #ff2a2a;
    margin-bottom: 15px;
}

form label{
    margin: 10px 0 5px;
    font-size: 14px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form label {
    margin: 15px 0 5px 0;
    font-size: 14px;
    text-align: left;
    color: white;
}

/*CHECKBOX*/
.checkboxSelectorEliminar{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/*ENLACES*/
a{
    text-decoration: none;
    color: inherit;
}

/*COMBATES*/
.mainMatch{                   
    display: flex;
    flex-direction: column;
}

.detalles_box{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    padding: 10px 20px;
}

.combate_box{
    border: 2px solid #ff2a2a;
    border-radius: 50px;
    padding: 10px 0px;
    margin: 0px 20px;
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
}

.combate_box h2{
    display: flex;
    justify-content: center;
    color: #ff2a2a;
    margin-bottom: 10px;
    border-bottom: 1px solid #ff2a2a;
}

.peleador_box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.peleador_box h3{
    font-size: 18px;
}

.vs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    font-size: 18px;
    color: #ff2a2a;
}

.box_anotar_resultados{
    display: flex;
    justify-content: center;
    gap: 50px;
}

/*GESTION LIGAS FORMULARIOS INPUTS*/

#nombre, #fecha_inicio {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
    background-color: white;
    color: black;
    box-sizing: border-box; /* Evita que el padding los ensanche de más */
}
