/*AJUESTES GENERALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #0f0f14;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    position: relative;
    padding-top: 150px;
    padding-bottom: 100px;
    width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*HEADER*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTop{
    width: 100%;
    height: 120px; 
    display: flex;
    justify-content: center;
    background-color: #0f0f14;
    padding: 18px 0 12px 0;
    border-radius: 0;
    border-bottom: 2px solid #ff2a2a;
}

.headerTop img{
    max-width: 180px;  
    height: auto;
}

.headerTitle{
    width: 100%;
    background-color: #0f0f14;
    text-align: center;
    padding: 8px 0;
    border-bottom: 2px solid #ff2a2a;
}

.headerTitle h4{
    font-size: 14px;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-weight: bold;
}

/*FOOTER*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0f0f14;
    padding: 10px 0;
    z-index: 100;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-top: 2px solid #ff2a2a;
}

.footer a {
    color: #ff2a2a;
    font-size: 26px;
    text-decoration: none;
}

/*LOGIN*/
.main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-form{
    width: 100%;
        max-width: 300px;
        margin: 20px auto;
        padding: 30px 20px;
        border: 2px solid #ff2a2a;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
}



/*BOTONES*/
.btn{
    margin-top: 15px;
    height: 40px;
    background-color: #291818;
    color: #ff2a2a;
    border: 2px solid #ff2a2a;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}

.btn_result_anotar{
    width: 100%;
    min-width: 120px;
    margin-bottom: 30px;
    padding: 0px 10px;
    height: 35px;
    background-color: #291818;
    color: white;
    background-color: #ff2a2a;
    border: 2px solid #ff2a2a;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
}

.btn:hover{
    background-color: #ff2a2a;
    color: white;
}

.btn_result_anotar:hover{
    background-color: #ff2a2a;
    color: white;
}



.mainMenu a.button {
    width: 280px;
    height: 75px;
    background-color: #c40000;
    color: white; 
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    border: none;

    border: 2px solid #ff2a2a;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3), 0 5px 15px rgba(0,0,0,0.2);
}

.mainMenu a.button:hover {
    background-color: #e60000;
    border-color: #ffffff;
    box-shadow: 0 0 20px #FF2A2A; 
}

/*MENÚ*/
.mainMenu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mainMenu div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}


/*LISTA*/
.mainList{
    flex: 1;                    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;     
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
    width: 100%;
    max-width: 320px; 
    padding-top: 25px;
    padding-bottom: 25px;
}

.item-ranking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;                
    padding: 0 20px;
    background-color: #1a1a21;    
    border: 1.5px solid #ff2a2a;  
    border-radius: 10px;
    color: white;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mainList div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*LABELS*/
.selectorEliminar{
     display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;            
    max-width: 450px;      
    margin: 15px auto;    
    padding: 12px 20px;
    background-color: rgba(255, 42, 42, 0.05); 
    border: 1.5px solid #ff2a2a;
    border-radius: 8px;    
    color: white;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 16px;       
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/*SELECTORES*/
.selector{
    width: 100%;
        height: 55px;
        margin-top: 20px;
        border-radius: 10px;
        border: 2px solid #ff2a2a;
        background-color: #291818;
        color: white;
        padding: 0 10px;
        font-size: 22px;
        box-sizing: border-box;

}

.selector option{
    background-color: #303030;
    color: white;
}

/*FORMULARIOS*/
form{
    display: flex;
    flex-direction: column;
}

form h1{
    color: #ff2a2a;
    margin-bottom: 15px;
}

form label{
    margin: 10px 0 5px;
    font-size: 14px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form label {
    margin: 15px 0 5px 0;
    font-size: 14px;
    text-align: left;
    color: white;
}


/*ENLACES*/
a{
    text-decoration: none;
    color: inherit;
}

/*COMBATES*/
.mainMatch{                   
    display: flex;
    flex-direction: column;
    gap: 25px;       
    padding: 20px 0;
    width: 100%;
    align-items: center;

}

.detalles_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.combate_box{
    width: 95%;
    max-width: 350px;
    background-color: #1a1a21;
    border: 2px solid #ff2a2a;
    border-radius: 20px;
    padding: 15px 5px;
    margin: 0px 20px;
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
}

.combate_box h2{
    color: #ff2a2a;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(255, 42, 42, 0.3);
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.peleador_box{
    flex : 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4px;
}

.peleador_box h3{
    font-size: 13px;
}

.vs{
    padding: 0 10px;
    font-weight: 900;
    font-style: italic;
    color: #ff2a2a;
    font-size: 14px;
    text-shadow: 0 0 5px rgba(255, 42, 42, 0.5);
}

.box_anotar_resultados{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    padding: 0 10px;
}


/* FORMULARIOS ESTILO */

.fury-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 30px 20px;
    gap: 5px;
}

.fury-form label {
    display: block; 
    color: #ffffff;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 8px; 
    margin-left: 4px;
    opacity: 0.9;
}




.fury-form input, 
.fury-form select, 
.fury-form .selector {
    display: block;
    width: 100%;
    background-color: #1a1a21;
    border: 2px solid #ff2a2a;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    box-sizing: border-box; 
    margin-bottom: 10px;
}

.fury-form label {
    display: block;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}

.fury-form .selector option {
    background-color: #0f0f14;
    color: white;
}

.fury-form input:focus {
    border-color: #ff2a2a;
    background-color: #21212b;
    box-shadow: 0 0 8px rgba(255, 42, 42, 0.2);
}

.fury-form .btn-submit, .boton_clasificac {
    margin-top: 20px;
    padding: 16px;
    background-color: transparent;
    color: white;
    border: 2px solid #ff2a2a;
    border-radius: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.fury-form .btn-submit:hover {
    background-color: #ff2a2a;
    color: #ffffff;
    transform: translateY(-2px); 
    box-shadow: 0 5px 15px rgba(255, 42, 42, 0.3);
}
